<!doctype html>
<html lang="en" class="h-100">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="Keywords" content="BroQiang,Linux,Go,PHP,{{ .keywords }}" />
	<meta name="description" content="Bro Qiang 博客，Linux、Go、PHP 笔记" />


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="./resources/public/css/app.css">

	<title>Hello, world!</title>
</head>

<body class="d-flex flex-column h-100">

	<header>
		<nav class="navbar navbar-expand-md navbar-light shadow bg-light">
			<div class="container">
				<a class="navbar-brand" href="#">BroQiang 博客</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars"
					aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbars">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
					</ul>

					<button class="btn">
						<span class="iconfont icon-search text-primary"></span>
					</button>
					<span class="caret"></span>
				</div>
			</div>
		</nav>

	</header>

	<main class="flex-shrink-0 my-4">
		<div class="container text-secondary">
			<div class="row">
				<div class="col-md-9">
                    <div class="container bg-white p-5">
                    <link rel="stylesheet" href="https://broqiang.com/public/css/markdown.css">

                        <h1 class="mb-3">vim 可以看起来像 ide 一样来开发 Go</h1>

                        <p class="mb-5">Bro Qiang at 2019-04-15</p>

					<article class="markdown-body" style="color:3b454e;">
        <p>通过配置，使得 vim 可以看起来像 ide 一样来开发 Go 。</p>

<p><a href="https://github.com/BroQiang/vim-go-ide" rel="nofollow">github 地址</a></p>

<p>说实在的，如果喜好折腾，喜好自己来配置环境，可以配置一下，如果不是很熟练 <code>vi/vim</code>，还是踏踏实实使用 IDE 吧，比如 VSCode（我也会用）  、 GoLand 还都是不错的，不过你要是看到了我的这篇文档，就证明还是想要折腾一下，下面就是我折腾后的结果。</p>

<p><img src="https://github.com/BroQiang/vim-go-ide/raw/master/vim-go-ide.png" alt="预览"/></p>

<blockquote>
<p>本配置是在 Ubuntu 18.04 下完成的， vim 版本是  <code>VIM - Vi IMproved 8.0</code> ，开启 lantern （不考虑网络不通畅的情况）</p>
</blockquote>



<ul>
<li><a href="#%E9%85%8D%E7%BD%AE-go-%E7%8E%AF%E5%A2%83" rel="nofollow">配置 Go 环境</a>

<ul>
<li><a href="#%E5%AE%89%E8%A3%85-go" rel="nofollow">安装 Go</a></li>
<li><a href="#%E9%85%8D%E7%BD%AE-path-%E5%8F%8A-gopath" rel="nofollow">配置 PATH 及 GOPATH</a></li>
</ul></li>
<li><a href="#vim-%E5%9F%BA%E6%9C%AC%E9%85%8D%E7%BD%AE" rel="nofollow">Vim 基本配置</a></li>
<li><a href="#%E6%8F%92%E4%BB%B6%E7%AE%A1%E7%90%86" rel="nofollow">插件管理</a>

<ul>
<li><a href="#%E5%AE%89%E8%A3%85%E6%8F%92%E4%BB%B6" rel="nofollow">安装插件</a></li>
<li><a href="#%E9%85%8D%E7%BD%AE%E6%8F%92%E4%BB%B6" rel="nofollow">配置插件</a></li>
<li><a href="#%E6%8F%92%E4%BB%B6%E5%88%A0%E9%99%A4" rel="nofollow">插件删除</a></li>
</ul></li>
<li><a href="#%E6%8F%92%E4%BB%B6%E9%85%8D%E7%BD%AE" rel="nofollow">插件配置</a>

<ul>
<li><a href="#vim-go" rel="nofollow">vim-go</a></li>
<li><a href="#youcompleteme" rel="nofollow">YouCompleteMe</a></li>
<li><a href="#%E5%85%B6%E4%BB%96%E6%8F%92%E4%BB%B6" rel="nofollow">其他插件</a></li>
</ul></li>
</ul>


<h2><a name="配置-go-环境" class="anchor" href="#%E9%85%8D%E7%BD%AE-go-%E7%8E%AF%E5%A2%83" rel="nofollow" aria-hidden="true"><span class="octicon octicon-link"></span></a>
配置 Go 环境</h2>

<p>既然是 Go 的开发环境，第一步当前就是准备好 。</p>
<h4><a name="安装-go" class="anchor" href="#%E5%AE%89%E8%A3%85-go" rel="nofollow" aria-hidden="true"><span class="octicon octicon-link"></span></a>
安装 Go</h4>

<p>到 <a href="https://golang.org/dl/" rel="nofollow">golang.org</a> 将安装包下载，并配置好环境， 推荐使用二进制版本，下载完成后直接解压缩就可以使用。如果无法访问 go 官网，可以考虑去 <a href="https://golang.google.cn/dl" rel="nofollow">golang.google.cn</a> 去下载。</p>

<pre><code>wget https://dl.google.com/go/go1.12.linux-amd64.tar.gz
sudo tar xzvf go1.12.linux-amd64.tar.gz -C /usr/local/
</code></pre>
<h4><a name="配置-path-及-gopath" class="anchor" href="#%E9%85%8D%E7%BD%AE-path-%E5%8F%8A-gopath" rel="nofollow" aria-hidden="true"><span class="octicon octicon-link"></span></a>
配置 PATH 及 GOPATH</h4>

<p>创建 Go 的工作空间（目录）</p>

<pre><code># 这是默认的位置，也可以按照需求指定到其他目录
mkdir -p $HOME/go/{bin,pkg,src}
</code></pre>

<p>配置环境变量</p>

<p>用户 vim 创建一个配置文 <code>vim /etc/profile.d/go.sh</code> ，写入下面内容</p>

<pre><code>export GOPATH=$HOME/go
export GOROOT=/usr/local/go
export PATH=$PATH:$GOROOT/bin:$GOPATH/bin
</code></pre>
<h2><a name="vim-基本配置" class="anchor" href="#vim-%E5%9F%BA%E6%9C%AC%E9%85%8D%E7%BD%AE" rel="nofollow" aria-hidden="true"><span class="octicon octicon-link"></span></a>
Vim 基本配置</h2>

<p>打开 vimrc 文件 <code>vim ~/.vimrc</code> ，写入下面配置</p>

<pre><code>
&#34;==============================================================================
&#34; vim 内置配置 
&#34;==============================================================================

&#34; 设置 vimrc 修改保存后立刻生效，不用在重新打开
&#34; 建议配置完成后将这个关闭
autocmd BufWritePost $MYVIMRC source $MYVIMRC

&#34; 关闭兼容模式
set nocompatible

set nu &#34; 设置行号
set cursorline &#34;突出显示当前行
&#34; set cursorcolumn &#34; 突出显示当前列
set showmatch &#34; 显示括号匹配

&#34; tab 缩进
set tabstop=4 &#34; 设置Tab长度为4空格
set shiftwidth=4 &#34; 设置自动缩进长度为4空格
set autoindent &#34; 继承前一行的缩进方式，适用于多行注释

&#34; 定义快捷键的前缀，即&lt;Leader&gt;
let mapleader=&#34;;&#34; 

&#34; ==== 系统剪切板复制粘贴 ====
&#34; v 模式下复制内容到系统剪切板
vmap &lt;Leader&gt;c &#34;+yy
&#34; n 模式下复制一行到系统剪切板
nmap &lt;Leader&gt;c &#34;+yy
&#34; n 模式下粘贴系统剪切板的内容
nmap &lt;Leader&gt;v &#34;+p

&#34; 开启实时搜索
set incsearch
&#34; 搜索时大小写不敏感
set ignorecase
syntax enable
syntax on                    &#34; 开启文件类型侦测
filetype plugin indent on    &#34; 启用自动补全

&#34; 退出插入模式指定类型的文件自动保存
au InsertLeave *.go,*.sh,*.php write
</code></pre>
<h2><a name="插件管理" class="anchor" href="#%E6%8F%92%E4%BB%B6%E7%AE%A1%E7%90%86" rel="nofollow" aria-hidden="true"><span class="octicon octicon-link"></span></a>
插件管理</h2>

<p>插件的用途就是可以很方便的管理 vim 的各种插件，快速安装配置以及清除，网上现在的帖子多数都是使用的 <a href="https://github.com/VundleVim/Vundle.vim" rel="nofollow">Vundle</a> 这个插件，不过个人觉得这个管理工具在插件安装多了的时候不是很流畅，更喜好使用 <a href="https://github.com/junegunn/vim-plug" rel="nofollow">vim-plug</a> 这个插件，两个插件都是很清除的安装文档，这里是介绍 vim-plug 。</p>
<h4><a name="安装插件" class="anchor" href="#%E5%AE%89%E8%A3%85%E6%8F%92%E4%BB%B6" rel="nofollow" aria-hidden="true"><span class="octicon octicon-link"></span></a>
安装插件</h4>

<p>在 Linux 下非常简单，直接通过 curl 下载即可（也可以手动下载，见官方文档）</p>

<pre><code>curl -fLo ~/.vim/autoload/plug.vim --create-dirs \
    https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
</code></pre>
<h4><a name="配置插件" class="anchor" href="#%E9%85%8D%E7%BD%AE%E6%8F%92%E4%BB%B6" rel="nofollow" aria-hidden="true"><span class="octicon octicon-link"></span></a>
配置插件</h4>

<p>插件的配置也非常简单，只要将所有的插件配置在 <code>call plug#begin(&#39;~/.vim/plugged&#39;)</code> 和 <code>call plug#end()</code> 之间即可，常见的插件基本上都可以从 github 中找到，如果 github 找不到的话基本上 vim.org 的脚本都可以在 <a href="https://github.com/vim-scripts" rel="nofollow">vim-script</a> 中找到备份</p>

<p>在刚刚的 <code>~/.vimrc</code> 下面继续添加插件相关的配置</p>

<pre><code>&#34; 插件开始的位置
call plug#begin(&#39;~/.vim/plugged&#39;)

&#34; Shorthand notation; fetches https://github.com/junegunn/vim-easy-align
&#34; 可以快速对齐的插件
Plug &#39;junegunn/vim-easy-align&#39;

&#34; 用来提供一个导航目录的侧边栏
Plug &#39;scrooloose/nerdtree&#39;

&#34; 可以使 nerdtree 的 tab 更加友好些
Plug &#39;jistr/vim-nerdtree-tabs&#39;

&#34; 可以在导航目录中看到 git 版本信息
Plug &#39;Xuyuanp/nerdtree-git-plugin&#39;

&#34; 查看当前代码文件中的变量和函数列表的插件，
&#34; 可以切换和跳转到代码中对应的变量和函数的位置
&#34; 大纲式导航, Go 需要 https://github.com/jstemmer/gotags 支持
Plug &#39;majutsushi/tagbar&#39;

&#34; 自动补全括号的插件，包括小括号，中括号，以及花括号
Plug &#39;jiangmiao/auto-pairs&#39;

&#34; Vim状态栏插件，包括显示行号，列号，文件类型，文件名，以及Git状态
Plug &#39;vim-airline/vim-airline&#39;

&#34; 有道词典在线翻译
Plug &#39;ianva/vim-youdao-translater&#39;

&#34; 代码自动完成，安装完插件还需要额外配置才可以使用
Plug &#39;Valloric/YouCompleteMe&#39;

&#34; 可以在文档中显示 git 信息
Plug &#39;airblade/vim-gitgutter&#39;


&#34; 下面两个插件要配合使用，可以自动生成代码块
Plug &#39;SirVer/ultisnips&#39;
Plug &#39;honza/vim-snippets&#39;

&#34; 可以在 vim 中使用 tab 补全
&#34;Plug &#39;vim-scripts/SuperTab&#39;

&#34; 可以在 vim 中自动完成
&#34;Plug &#39;Shougo/neocomplete.vim&#39;


&#34; 配色方案
&#34; colorscheme neodark
Plug &#39;KeitaNakamura/neodark.vim&#39;
&#34; colorscheme monokai
Plug &#39;crusoexia/vim-monokai&#39;
&#34; colorscheme github 
Plug &#39;acarapetis/vim-colors-github&#39;
&#34; colorscheme one 
Plug &#39;rakr/vim-one&#39;

&#34; go 主要插件
Plug &#39;fatih/vim-go&#39;, { &#39;tag&#39;: &#39;*&#39; }
&#34; go 中的代码追踪，输入 gd 就可以自动跳转
Plug &#39;dgryski/vim-godef&#39;

&#34; markdown 插件
Plug &#39;iamcco/mathjax-support-for-mkdp&#39;
Plug &#39;iamcco/markdown-preview.vim&#39;

&#34; 插件结束的位置，插件全部放在此行上面
call plug#end()
</code></pre>

<p>然后输入 <code>:w</code> 保存配置，在输入  <code>:PlugInstall</code> ，如下：</p>

<pre><code>:w
:PlugInstall
</code></pre>

<p>插件会自动下载安装，看见上面显示 Finishing … Done 的内容，插件安装成功</p>
<h4><a name="插件删除" class="anchor" href="#%E6%8F%92%E4%BB%B6%E5%88%A0%E9%99%A4" rel="nofollow" aria-hidden="true"><span class="octicon octicon-link"></span></a>
插件删除</h4>

<p>如果想要删除插件，只要将不需要的插件注释或者删除，执行 <code>:PlugClean</code> 就可以自动清理了</p>
<h2><a name="插件配置" class="anchor" href="#%E6%8F%92%E4%BB%B6%E9%85%8D%E7%BD%AE" rel="nofollow" aria-hidden="true"><span class="octicon octicon-link"></span></a>
插件配置</h2>

<p>上面一起安装了很多个插件，有些插件要单独配置，记录到下面</p>
<h4><a name="vim-go" class="anchor" href="#vim-go" rel="nofollow" aria-hidden="true"><span class="octicon octicon-link"></span></a>
vim-go</h4>

<p>这个是 go 语言支持插件，上面插件完成后还需要安装很多个 Go 的包才能正常工作，在 vim 中执行下面命令：</p>

<pre><code>:GoInstallBinaries
</code></pre>

<p>出现  <code>vim-go: installing finished!</code> 安装成功，可以使用 Go 包的相关功能了</p>

<blockquote>
<p>需要注意前面的 PATH 要配置正确，并且已经生效，如果配置正确没有生效，可以注销再登录查看</p>
</blockquote>
<h4><a name="youcompleteme" class="anchor" href="#youcompleteme" rel="nofollow" aria-hidden="true"><span class="octicon octicon-link"></span></a>
YouCompleteMe</h4>

<p>这个插件是用来自动完成的，不过需要手动做一些额外的配置</p>

<p>a. 安装以来关系</p>

<pre><code>sudo apt install build-essential cmake python3-dev
</code></pre>

<p>b. 编译</p>

<pre><code>cd ~/.vim/plugged/YouCompleteMe
# 编译，并加入 go 的支持
python3 install.py --go-completer 
</code></pre>

<p>c. 配置和  <code>SirVer/ultisnips</code> 冲突的快捷键</p>

<pre><code>let g:ycm_key_list_select_completion = [&#39;&lt;C-n&gt;&#39;, &#39;&lt;space&gt;&#39;]
let g:ycm_key_list_previous_completion = [&#39;&lt;C-p&gt;&#39;, &#39;&lt;Up&gt;&#39;]
let g:SuperTabDefaultCompletionType = &#39;&lt;C-n&gt;&#39;

&#34; better key bindings for UltiSnipsExpandTrigger
let g:UltiSnipsExpandTrigger = &#34;&lt;tab&gt;&#34;
let g:UltiSnipsJumpForwardTrigger = &#34;&lt;tab&gt;&#34;
let g:UltiSnipsJumpBackwardTrigger = &#34;&lt;s-tab&gt;&#34;
</code></pre>
<h4><a name="其他插件" class="anchor" href="#%E5%85%B6%E4%BB%96%E6%8F%92%E4%BB%B6" rel="nofollow" aria-hidden="true"><span class="octicon octicon-link"></span></a>
其他插件</h4>

<p>其他的插件配置不多，直接看配置文件的注释即可，下面将所有的配置全部贴出来</p>

<p>下面是全部的 <code>~/.vimrc</code> 中的配置, 也可以直接下载我配置好的 <a href="https://raw.githubusercontent.com/BroQiang/vim-go-ide/master/vimrc" rel="nofollow">vimrc</a> 文件</p>

<pre><code>
&#34;==============================================================================
&#34; vim 内置配置 
&#34;==============================================================================

&#34; 设置 vimrc 修改保存后立刻生效，不用在重新打开
&#34; 建议配置完成后将这个关闭，否则配置多了之后会很卡
&#34; autocmd BufWritePost $MYVIMRC source $MYVIMRC

&#34; 关闭兼容模式
set nocompatible

set nu &#34; 设置行号
set cursorline &#34;突出显示当前行
&#34; set cursorcolumn &#34; 突出显示当前列
set showmatch &#34; 显示括号匹配

&#34; tab 缩进
set tabstop=4 &#34; 设置Tab长度为4空格
set shiftwidth=4 &#34; 设置自动缩进长度为4空格
set autoindent &#34; 继承前一行的缩进方式，适用于多行注释

&#34; 定义快捷键的前缀，即&lt;Leader&gt;
let mapleader=&#34;;&#34; 

&#34; ==== 系统剪切板复制粘贴 ====
&#34; v 模式下复制内容到系统剪切板
vmap &lt;Leader&gt;c &#34;+yy
&#34; n 模式下复制一行到系统剪切板
nmap &lt;Leader&gt;c &#34;+yy
&#34; n 模式下粘贴系统剪切板的内容
nmap &lt;Leader&gt;v &#34;+p

&#34; 开启实时搜索
set incsearch
&#34; 搜索时大小写不敏感
set ignorecase
syntax enable
syntax on                    &#34; 开启文件类型侦测
filetype plugin indent on    &#34; 启用自动补全

&#34; 退出插入模式指定类型的文件自动保存
au InsertLeave *.go,*.sh,*.php write

&#34;==============================================================================
&#34; 插件配置 
&#34;==============================================================================

&#34; 插件开始的位置
call plug#begin(&#39;~/.vim/plugged&#39;)

&#34; Shorthand notation; fetches https://github.com/junegunn/vim-easy-align
&#34; 可以快速对齐的插件
Plug &#39;junegunn/vim-easy-align&#39;

&#34; 用来提供一个导航目录的侧边栏
Plug &#39;scrooloose/nerdtree&#39;

&#34; 可以使 nerdtree Tab 标签的名称更友好些
Plug &#39;jistr/vim-nerdtree-tabs&#39;

&#34; 可以在导航目录中看到 git 版本信息
Plug &#39;Xuyuanp/nerdtree-git-plugin&#39;

&#34; 查看当前代码文件中的变量和函数列表的插件，
&#34; 可以切换和跳转到代码中对应的变量和函数的位置
&#34; 大纲式导航, Go 需要 https://github.com/jstemmer/gotags 支持
Plug &#39;majutsushi/tagbar&#39;

&#34; 自动补全括号的插件，包括小括号，中括号，以及花括号
Plug &#39;jiangmiao/auto-pairs&#39;

&#34; Vim状态栏插件，包括显示行号，列号，文件类型，文件名，以及Git状态
Plug &#39;vim-airline/vim-airline&#39;

&#34; 有道词典在线翻译
Plug &#39;ianva/vim-youdao-translater&#39;

&#34; 代码自动完成，安装完插件还需要额外配置才可以使用
Plug &#39;Valloric/YouCompleteMe&#39;

&#34; 可以在文档中显示 git 信息
Plug &#39;airblade/vim-gitgutter&#39;


&#34; 下面两个插件要配合使用，可以自动生成代码块
Plug &#39;SirVer/ultisnips&#39;
Plug &#39;honza/vim-snippets&#39;

&#34; 配色方案
&#34; colorscheme neodark
Plug &#39;KeitaNakamura/neodark.vim&#39;
&#34; colorscheme monokai
Plug &#39;crusoexia/vim-monokai&#39;
&#34; colorscheme github 
Plug &#39;acarapetis/vim-colors-github&#39;
&#34; colorscheme one 
Plug &#39;rakr/vim-one&#39;

&#34; go 主要插件
Plug &#39;fatih/vim-go&#39;, { &#39;tag&#39;: &#39;*&#39; }
&#34; go 中的代码追踪，输入 gd 就可以自动跳转
Plug &#39;dgryski/vim-godef&#39;

&#34; markdown 插件
Plug &#39;iamcco/mathjax-support-for-mkdp&#39;
Plug &#39;iamcco/markdown-preview.vim&#39;

&#34; 插件结束的位置，插件全部放在此行上面
call plug#end()


&#34;==============================================================================
&#34; 主题配色 
&#34;==============================================================================

&#34; 开启24bit的颜色，开启这个颜色会更漂亮一些
set termguicolors
&#34; 配色方案, 可以从上面插件安装中的选择一个使用 
colorscheme one &#34; 主题
set background=dark &#34; 主题背景 dark-深色; light-浅色


&#34;==============================================================================
&#34; vim-go 插件
&#34;==============================================================================
let g:go_fmt_command = &#34;goimports&#34; &#34; 格式化将默认的 gofmt 替换
let g:go_autodetect_gopath = 1
let g:go_list_type = &#34;quickfix&#34;

let g:go_version_warning = 1
let g:go_highlight_types = 1
let g:go_highlight_fields = 1
let g:go_highlight_functions = 1
let g:go_highlight_function_calls = 1
let g:go_highlight_operators = 1
let g:go_highlight_extra_types = 1
let g:go_highlight_methods = 1
let g:go_highlight_generate_tags = 1

let g:godef_split=2


&#34;==============================================================================
&#34; NERDTree 插件
&#34;==============================================================================

&#34; 打开和关闭NERDTree快捷键
map &lt;F10&gt; :NERDTreeToggle&lt;CR&gt;
&#34; 显示行号
let NERDTreeShowLineNumbers=1
&#34; 打开文件时是否显示目录
let NERDTreeAutoCenter=1
&#34; 是否显示隐藏文件
let NERDTreeShowHidden=0
&#34; 设置宽度
&#34; let NERDTreeWinSize=31
&#34; 忽略一下文件的显示
let NERDTreeIgnore=[&#39;\.pyc&#39;,&#39;\~$&#39;,&#39;\.swp&#39;]
&#34; 打开 vim 文件及显示书签列表
let NERDTreeShowBookmarks=2

&#34; 在终端启动vim时，共享NERDTree
let g:nerdtree_tabs_open_on_console_startup=1


&#34;==============================================================================
&#34;  majutsushi/tagbar 插件
&#34;==============================================================================

&#34; majutsushi/tagbar 插件打开关闭快捷键
nmap &lt;F9&gt; :TagbarToggle&lt;CR&gt;

let g:tagbar_type_go = {
    \ &#39;ctagstype&#39; : &#39;go&#39;,
    \ &#39;kinds&#39;     : [
        \ &#39;p:package&#39;,
        \ &#39;i:imports:1&#39;,
        \ &#39;c:constants&#39;,
        \ &#39;v:variables&#39;,
        \ &#39;t:types&#39;,
        \ &#39;n:interfaces&#39;,
        \ &#39;w:fields&#39;,
        \ &#39;e:embedded&#39;,
        \ &#39;m:methods&#39;,
        \ &#39;r:constructor&#39;,
        \ &#39;f:functions&#39;
    \ ],
    \ &#39;sro&#39; : &#39;.&#39;,
    \ &#39;kind2scope&#39; : {
        \ &#39;t&#39; : &#39;ctype&#39;,
        \ &#39;n&#39; : &#39;ntype&#39;
    \ },
    \ &#39;scope2kind&#39; : {
        \ &#39;ctype&#39; : &#39;t&#39;,
        \ &#39;ntype&#39; : &#39;n&#39;
    \ },
    \ &#39;ctagsbin&#39;  : &#39;gotags&#39;,
    \ &#39;ctagsargs&#39; : &#39;-sort -silent&#39;
\ }


&#34;==============================================================================
&#34;  nerdtree-git-plugin 插件
&#34;==============================================================================
let g:NERDTreeIndicatorMapCustom = {
    \ &#34;Modified&#34;  : &#34;✹&#34;,
    \ &#34;Staged&#34;    : &#34;✚&#34;,
    \ &#34;Untracked&#34; : &#34;✭&#34;,
    \ &#34;Renamed&#34;   : &#34;➜&#34;,
    \ &#34;Unmerged&#34;  : &#34;═&#34;,
    \ &#34;Deleted&#34;   : &#34;✖&#34;,
    \ &#34;Dirty&#34;     : &#34;✗&#34;,
    \ &#34;Clean&#34;     : &#34;✔︎&#34;,
    \ &#39;Ignored&#39;   : &#39;☒&#39;,
    \ &#34;Unknown&#34;   : &#34;?&#34;
    \ }

let g:NERDTreeShowIgnoredStatus = 1



&#34;==============================================================================
&#34;  Valloric/YouCompleteMe 插件
&#34;==============================================================================

&#34; make YCM compatible with UltiSnips (using supertab)
let g:ycm_key_list_select_completion = [&#39;&lt;C-n&gt;&#39;, &#39;&lt;space&gt;&#39;]
let g:ycm_key_list_previous_completion = [&#39;&lt;C-p&gt;&#39;, &#39;&lt;Up&gt;&#39;]
let g:SuperTabDefaultCompletionType = &#39;&lt;C-n&gt;&#39;

&#34; better key bindings for UltiSnipsExpandTrigger
let g:UltiSnipsExpandTrigger = &#34;&lt;tab&gt;&#34;
let g:UltiSnipsJumpForwardTrigger = &#34;&lt;tab&gt;&#34;
let g:UltiSnipsJumpBackwardTrigger = &#34;&lt;s-tab&gt;&#34;


&#34;==============================================================================
&#34;  其他插件配置
&#34;==============================================================================

&#34; markdwon 的快捷键
map &lt;silent&gt; &lt;F5&gt; &lt;Plug&gt;MarkdownPreview
map &lt;silent&gt; &lt;F6&gt; &lt;Plug&gt;StopMarkdownPreview

&#34; tab 标签页切换快捷键
:nn &lt;Leader&gt;1 1gt
:nn &lt;Leader&gt;2 2gt
:nn &lt;Leader&gt;3 3gt
:nn &lt;Leader&gt;4 4gt
:nn &lt;Leader&gt;5 5gt
:nn &lt;Leader&gt;6 6gt
:nn &lt;Leader&gt;7 7gt
:nn &lt;Leader&gt;8 8gt
:nn &lt;Leader&gt;9 8gt
:nn &lt;Leader&gt;0 :tablast&lt;CR&gt;


&#34;==============================================================================
&#34; GVim 的配置
&#34;==============================================================================
&#34; 如果不使用 GVim ，可以不用配置下面的配置
if has(&#39;gui_running&#39;)
        colorscheme one
    &#34; 设置启动时窗口的大小
    set lines=999 columns=999 linespace=4

    &#34; 设置字体及大小
        set guifont=Roboto\ Mono\ 13

    set guioptions-=m &#34; 隐藏菜单栏
    set guioptions-=T &#34; 隐藏工具栏
    set guioptions-=L &#34; 隐藏左侧滚动条
    set guioptions-=r &#34; 隐藏右侧滚动条
    set guioptions-=b &#34; 隐藏底部滚动条
            &#34; 在 gvim 下不会和 terminal 的 alt+数字的快捷键冲突，
    &#34; 所以将 tab 切换配置一份 alt+数字的快捷键
    :nn &lt;M-1&gt; 1gt
    :nn &lt;M-2&gt; 2gt
    :nn &lt;M-3&gt; 3gt
    :nn &lt;M-4&gt; 4gt
    :nn &lt;M-5&gt; 5gt
    :nn &lt;M-6&gt; 6gt
    :nn &lt;M-7&gt; 7gt
    :nn &lt;M-8&gt; 8gt
        :nn &lt;M-9&gt; 9gt
        :nn &lt;M-0&gt; :tablast&lt;CR&gt;
endif
</code></pre>

    </article>
                    </div>

				</div>
				<div class="col-md-3">
					<div class="card mb-2 border-white bg-secondary">
						<div class="card-body">
							<div class="card-title text-center text-light">
								<h3>标签</h3>
							</div>
							<hr>
							<span class="badge badge-light">Light</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</main>

	<footer class="footer mt-auto py-3 bg-secondary">
		<div class="container d-flex flex-row">
			<div class="text-light flex-grow-1">
				<span class="mr-1">Power By: </span>
				<a href="https://broqiang.com" class="text-light">BroQiang</a>
			</div>
			<div class="text-light flex-grow-2">
				©<span class="small">京ICP备17034182号</span>
			</div>
		</div>
	</footer>

	<script src="./resources/public/js/app.js"></script>
</body>

</html>