{{ define "posts/_right.html"}}
<div class="card mb-2 boder-white bg-light text-secondary">
	<div class="card-body shadow">
		<div class="card-title text-center">
			公告
		</div>
		<hr>
		<small>
			博客由 go 编写，点击 <a href="/about">about</a> 了解更多。
		</small>
	</div>
</div>
<div class="card mb-2 border-white bg-light text-secondary">
	<div class="card-body shadow">
		<div class="card-title text-center">
			标签
		</div>
		<hr>
		{{ range $k, $v := .tags }}
		<a class="btn btn-light btn-sm my-1 mr-1 shadow rounded" href="/tag/{{ $v.Title }}">
			<span class="text-secondary {{ if $v.Active }}font-weight-bold{{ end }}">{{ $v.Title }}</span>
			<span class="badge badge-secondary">{{ $v.Number }}</span>
		</a>
		{{ end }}
	</div>
</div>
<div class="card mb-2 border-white bg-light text-secondary">
	<div class="card-body shadow">
		<div class="card-title text-center">
			友情链接
		</div>
		<hr>
		<small>
			<ul class="list-unstyled">
				<li class="mb-2">blog Forked:<a href="https://broqiang.com">mdblog</a></li>
			</ul>
		</small>
	</div>
	{{ end }}