{{ define "index.html" }}
<!doctype html>
<html lang="en" class="h-100">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="Keywords" content="BroQiang,Linux,Go,PHP,{{ .keywords }}" />
	<meta name="description" content="Bro Qiang 博客，Linux、Go、PHP 笔记" />


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ staticpath "public/css/app.css" }}">

	<title>Hello, world!</title>
</head>

<body class="d-flex flex-column h-100">

	<header>
		<nav class="navbar navbar-expand-md navbar-light shadow bg-light">
			<div class="container">
				<a class="navbar-brand" href="#">BroQiang 博客</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars"
					aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbars">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
					</ul>

					<button class="btn">
						<span class="iconfont icon-search text-primary"></span>
					</button>
					<span class="caret"></span>
				</div>
			</div>
		</nav>

	</header>

	<main class="flex-shrink-0 my-4">
		<div class="container text-secondary">
			<div class="row">
				<div class="col-md-9">
					<div class="container p-3">
						<ul class="list-unstyled">
						<li class="media">
							<div class="media-body">
								<h5 class="mt-0 mb-1">List-based media object</h5>
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
								sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
								condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
							</div>
						</li>
						<li class="media my-4">
							<div class="media-body">
								<h5 class="mt-0 mb-1">List-based media object</h5>
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
								sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
								condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
							</div>
						</li>
						<li class="media">
							<div class="media-body">
								<h2 class="mt-0 mb-1"><a href="">List-based media object</a></h2>
								<p><a href="">BroQiang</a> <small> 2019-04-15</small></p>
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
								sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
								condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
							</div>
						</li>
					</ul>

					
					</div>
				</div>
				<div class="col-md-3">
					<div class="card mb-2 border-white bg-secondary">
						<div class="card-body">
							<div class="card-title text-center text-light">
								<h3>标签</h3>
							</div>
							<hr>
							<span class="badge badge-light">Light</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</main>

	<footer class="footer mt-auto py-3 bg-secondary">
		<div class="container d-flex flex-row">
			<div class="text-light flex-grow-1">
				<span class="mr-1">Power By: </span>
				<a href="https://broqiang.com" class="text-light">BroQiang</a>
			</div>
			<div class="text-light flex-grow-2">
				©<span class="small">京ICP备17034182号</span>
			</div>
		</div>
	</footer>

	<script src="{{ staticpath "/public/js/app.js" }}"></script>
</body>

</html>
{{ end }}